body {
    background-color: #eee;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 450px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.margin-top {
    margin-top: 15px;
}


#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}